---
import PrincipleIcon from './PrincipleIcon.astro';
import { principles } from '../data/site';
---
<section class="principles" id="about">
  {principles.map((principle) => (
    <article>
      <PrincipleIcon type={principle.icon} />
      <h2>{principle.title}</h2>
      <p>{principle.copy}</p>
    </article>
  ))}
</section>
